p {
    margin: 0;
}

.underline-grow::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.underline-grow:hover::after {
    transform: scaleX(1);
}
