.logo {
    opacity: 0;
    height: 40px;
    width: 55px;
    object-fit: contain;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: #ffffff;

    transition: transform 0.1s ease-out;

    animation-name: var(--animation-fade-in-from-bottom);
    animation-duration: 0.5s;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.logoContainer > img {
    animation-delay: calc((var(--n) - 1) * 0.1s);
}

.paragraph {
    position: relative;
    animation-name: var(--animation-fade-in-from-right);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.rowContent {
    position: relative;
    z-index: 1;
    width: 100%;
}

.backgroundLogo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
}

.fadeIn {
    animation-name: var(--animation-fade-in-from-right);
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.fadeOut {
    animation-name: var(--animation-exit-fade-to-right);
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}
