.logo {
    opacity: 0;
    height: 35px;
    width: 50px;
    object-fit: contain;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: #ffffff;

    transition: transform 0.1s ease-out;

    animation-name: var(--animation-fade-in-from-bottom);
    animation-duration: 0.5s;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.logoContainer > img {
    animation-delay: calc((var(--n) - 1) * 0.1s);
}

.paragraph {
    font-size: 15px;

    animation-name: var(--animation-fade-in-from-right);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.rowStyle {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
