
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    gap: 15px;
    padding: 1rem;
}

.left-column {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

/*@media (min-width: 768px) { !* Corresponds to Bootstrap's 'md' breakpoint *!*/
/*    .grid-container {*/
/*        grid-template-columns: 1fr 1fr; !* Two equal columns on medium screens and up *!*/
/*    }*/
/*}*/

.gridItem {
    background: #333333;
    background-repeat: repeat;
    background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");

    display: flex;
    border: #4f4f4f solid 1px;
    border-radius: 15px;
    padding-left: 3rem;
    padding-right: 3rem;
}
