
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    gap: 15px;
    padding: 1rem;
}

.left-column {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.right-column {
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 15px;
}

.gridItem {
    background: #333333 url("https://www.transparenttextures.com/patterns/otis-redding.png") repeat;

    display: flex;
    border: #4f4f4f solid 1px;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
    overflow: hidden;
}
