.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr; /* Make rows equal height for this example */
    grid-template-areas:
    "section1 section0 section3"
    "section1 section2 section3";
    gap: 0.5rem;
    height: 50vh;
}

.section-1 {
    background-color: lightcoral;
    grid-area: section1;
    padding: 10px;
}

.section-0 {
    background-color: lightblue;
    grid-area: section0;
    padding: 10px;
}

.section-2 {
    background-color: lightgreen;
    grid-area: section2;
    padding: 10px;
}

.section-3 {
    background-color: lightgreen;
    grid-area: section3;
    padding: 10px;
}