.projectTitle {
    font-size: clamp(1rem, 1vw, 1.50rem);

    opacity: 0;
    display: inline-block;

    animation-name: var(--animation-fade-in-from-left);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: calc((var(--project) - 1) * 0.1s);
}

.middleContentActive {
    animation-name: var(--animation-fade-in-from-left);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.middleContentHide {
    animation-name: var(--animation-exit-fade-to-left);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.links {
    color: inherit;
    text-decoration: underline;
}

.logo {
    height: 40px;
    display: block;

    transition: transform 0.1s ease-out;
}

.logo:hover {
    transform: scale(1.2);
}

.companyLogoContainer {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
}

.companyLogo {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
    background: radial-gradient(circle, white, black);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    filter: grayscale(100%);
}

.companyLogoContainer:hover .companyLogo {
    filter: grayscale(0%);
    transform: scale(1.25);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.techLogo {
    height: 35px;
    width: 50px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: #ffffff;
    object-fit: contain;
}