.projectTitle {
    font-size: clamp(1rem, 1vw, 1.50rem);

    opacity: 0;
    display: inline-block;

    animation-name: var(--animation-fade-in-from-left);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: calc((var(--project) - 1) * 0.1s);
}

.showMore {
    transition: transform 0.1s ease-out;
}

.showMore:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.middleContentActive {
    animation-name: var(--animation-fade-in-from-left);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.middleContentHide {
    animation-name: var(--animation-exit-fade-to-left);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.links {
    color: inherit;
    text-decoration: underline;
}

.logo {
    height: 40px;
    display: block;

    transition: transform 0.1s ease-out;
}

.logo:hover {
    transform: scale(1.2);
}

.companyLogoContainer {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
}

.companyLogo {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}