:root {
    --animation-fade-in-from-top: enterFadeFromTop;
    --animation-fade-in-from-bottom: enterFadeFromBottom;
    --animation-fade-in-from-left: enterFadeFromLeft;
    --animation-fade-in-from-right: enterFadeFromRight;
    --animation-exit-fade-to-bottom: exitFadeToBottom;
    --animation-exit-fade-to-top: exitFadeToTop;
}

@keyframes enterFadeFromTop {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes enterFadeFromBottom {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes enterFadeFromLeft{
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes enterFadeFromRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes exitFadeToBottom {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes exitFadeToTop {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}