body {
  font-family: 'Chakra Petch', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #00112e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  position: relative;
  /*overflow: hidden;*/
  display: flex;
  place-items: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">\
      <filter id="noiseFilter">\
        <feTurbulence \
          type="fractalNoise" \
          baseFrequency="0.85" \
          numOctaves="3" \
          stitchTiles="stitch"/>\
      </filter>\
      <rect width="100%" height="100%" filter="url(%23noiseFilter)"/>\
    </svg>');
  opacity: 0.10; /* Adjust for desired grain intensity (0.05 to 0.15 is usually good) */
  pointer-events: none; /* Makes the overlay non-interactive */
  z-index: -1; /* Puts the grain behind the body's content */
}

.underline-grow {
  display: inline-block;
  position: relative;
  cursor: pointer;
}