html {
  height: 100%;
  background: #000000;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background: #000000;
  background: linear-gradient(150deg,rgba(0, 59, 117, 1) 0%, rgba(0, 0, 0, 1) 30%);
  background-repeat: no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  position: relative;
}

#root {
  width: 100%;
}